<button type="submit" (click) = "refreshTree()">Load</button>
<button type="submit" (click) = "saveAll()">SAVE</button>
<form [formGroup]="rolMenuMapForm" novalidate (ngSubmit)="onSubmit()">
 <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Привязка роли к  меню</mat-card-title>
    </mat-card-header>
    <mat-card-content>

          <mat-form-field style="width:12vw">
           <mat-label>Роль:</mat-label>
            <mat-select  placeholder="Role" formControlName="role"  (ngModelChange)= "change($event)">
              <mat-option *ngFor="let role of roles" [value]="role" >
                {{ role.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="rolMenuMapForm.controls['role'].hasError('required')">
              State is <strong>required</strong>
            </mat-error>
          </mat-form-field>

    </mat-card-content>
  </mat-card>
 </form>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
    <button mat-icon-button disabled></button>
    <mat-checkbox  class="checklist-leaf-node"
                  [checked]="checklistSelection.isSelected(node) || node.selected"
                  (change)="todoLeafItemSelectionToggle(node)">{{node.item}}
                  
                  
     </mat-checkbox>
   
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    <mat-form-field>
      <mat-label>New item...</mat-label>
      <input matInput #itemValue placeholder="Ex. Lettuce">
    </mat-form-field>
    <button mat-button (click)="saveNode(node, itemValue.value)">Save</button>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.item">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <mat-checkbox [checked]="descendantsAllSelected(node) || node.selected"
                  [indeterminate]="descendantsPartiallySelected(node)"
                  (change)="todoItemSelectionToggle(node)">{{node.item}}</mat-checkbox>
    <button mat-icon-button (click)="addNewItem(node)"><mat-icon>add</mat-icon></button>
    <input type="hidden" value={{node.p}}>
     </mat-tree-node>
</mat-tree>

