<!-- 
<app-btn-assign></app-btn-assign>


<app-prefered-menu></app-prefered-menu>

<br>

<app-base-menu></app-base-menu>

 
 <mat-tab-group>
  <mat-tab label="First"> Content 1 </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>
 
-->
<div id="content" class="box">
  <div class="card-body">
<mat-tab-group>
  <mat-tab label="Справочники">
  <mat-tab-group>
	  <mat-tab label="Пользователи">Пользователи </mat-tab>
	  <mat-tab label="Роли"><app-roles></app-roles></mat-tab>
	  <mat-tab label="Базовое меню">Базовое меню</mat-tab>
  </mat-tab-group>
  
   </mat-tab>
  <mat-tab label="Ролевая модель">
    <mat-tab-group>
	  <mat-tab label="Роли и Меню">
	    <app-base-menu></app-base-menu>
	   </mat-tab>
	  <mat-tab label="Роли и Пользователи">Роли Пользователи</mat-tab>
	  <mat-tab label="Роли и Объекты">Роли и Объекты</mat-tab>
  </mat-tab-group>
  
  </mat-tab>
  
</mat-tab-group>
</div>
</div>