<p>base menu works</p>

<div class="col-lg-6">


<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        	Настроить пользовательское меню
      </mat-panel-title>
      <mat-panel-description>
     ...
      </mat-panel-description>
    </mat-expansion-panel-header>
<div class="row">  
  <form [formGroup]="rolMenuMapForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Menu item role mapping</mat-card-title>
    </mat-card-header>
    <mat-card-content>
  
      <div class="row">
        <div class="col">
          <mat-form-field style="width:25vw">
           <mat-label>User Roles:</mat-label>
            <mat-select  placeholder="Role" formControlName="role"  (ngModelChange)= "change($event)">
              <mat-option *ngFor="let role of roles" [value]="role" >
                {{ role.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="rolMenuMapForm.controls['role'].hasError('required')">
              State is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
</div>

<div class="row">
<div class="col-lg-6">
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" >
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    <p>{{node.name}}<input type="hidden" value="{{node.p}}" name="param" #newparam> <button (click)="assignMenu(newparam)"  >-></button> </p>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <p>{{node.name}}<input type="hidden" value="{{node.p}}" name="param" #newparam> <button  (click)="assignMenu(newparam)"  >></button> </p>
  </mat-tree-node>
</mat-tree>
</div> 

<div class="col-lg-6">
<mat-tree [dataSource]="dataSourceMap" [treeControl]="treeControlMap" >
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    <p>{{node.name}}<input type="hidden" value="{{node.p}}" name="param" #newparam> <button (click)="deAssignMenu(newparam)"  >-></button> </p>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControlMap.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <p>{{node.name}}<input type="hidden" value="{{node.p}}" name="param" #newparam> <button  (click)="deAssignMenu(newparam)"  >></button> </p>
  </mat-tree-node>
</mat-tree>
</div> 


</div> 
  </mat-expansion-panel>
  
</mat-accordion>





</div>